.wrapper {   
    width: 100vw;
    height: 100vh;    
  }
  
  .container {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--container-padding) * 2);
  }
  
  .content {
    margin: auto;
  }
  
  .link {
    color: var(--color-title);
  }